
.soclink-in, .soclink-inst, .soclink-fb{
    float: left;
    width: 51px;
    height: 51px;
    margin-right: 10px;
}

.soclink-in{
    background-image:url(https://hhcdn.ru/ichameleon/66453.png);
}

.soclink-fb{
    background-image:url(https://hhcdn.ru/ichameleon/65859.png);
}

.soclink-inst{
    background-image:url(https://hhcdn.ru/ichameleon/66454.png);
}

.img-fluid.mainimg {
    margin-top:20px;
}

.row.about{
    margin-right:auto;
}