body { 
    padding-top: 70px;
}

.navigation-bar .pagination-container {
      margin-top: 0;
    }

.pagination {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.table-borderless {
    border: none !important;
}