html, body { 
    padding-top: 70px;
    height:100%;
}


.navigation-bar .pagination-container {
      margin-top: 0;
    }

.pagination {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.table-borderless {
    border: none !important;
}


.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}

.nopadingleft{
    padding-left:0px !important;
}

.nopadingright{
    padding-right:0px !important;
}

.h3{
    color:lightslategrey;
}

.topmargin{
    margin-top:20px;
}

.becomebtn{
    margin-top:20px;
    margin-bottom:20px;
}

.search {
    padding-bottom:15px;
    margin-left:0px;
    margin-right:0px;
}

html {
  position: relative;
  min-height: 100%;
}

.rcorners {
    border-radius: 10px;
    background: #73AD21;
    background-color: #efefef;
    padding:5px;
    height:100%;
    word-wrap:break-word;
}



.wrap{
    width:100%;
}

.image{
    height:80px;
    width:80px;
}

.video-container {
    position: relative;
    padding-bottom: 50.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.body-content{
    min-height:100%;
}

.footer{
    font-family:sans-serif;
    height:20px;
    margin-top:-20px;
    background-color:#efefef;
    clear:both;
    text-align:center;
}

.hFooter{
    height:20px;
}

ul{
    list-style-position:inside;
}

.survey-name {
    width:40%;
    white-space:nowrap;
}

.control-container {
    width:100%;
}

.btn3{
    float:right;
}

.main-container{
    width: 100%;
}

.survey {
    width:70%;
    height:200px;
    display:inline-block;
    position:relative;
    float:left;
}


.sidebar-menu {
    margin-left:15px;
    width:30%;
    display:inline-block
}

.settings{
    margin-left:15px !important;
}


.Grid{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
}

.tab-text{
    padding-left:4px;
}

.column-container{
    display: table;
    table-layout: fixed;
    width:100%;
}

.column-row{
    display:table-row;
}

.column{
    display:table-cell;
    padding-left:10px;
    padding-right:10px;

}


.tab-textm{
    display:none;
}
