.nopadingleft{
    padding-left:0px !important;
}

.nopadingright{
    padding-right:0px !important;
}

.inactive{
    cursor: default;
    color: gray;
}

.border {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    border-color: #e89393;
}