@model WebApplication1.Models.UserViewModel
@{
    ViewBag.Title = "Профиль";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2>Профиль</h2>

<div class="user-info">
    <span>Логин:</span> @Model.userName<br>
    <span>Email:</span> @Model.Email<br>
    <span>Время регистрации:</span> @Model.registerTime<br>
    <br>
    <a href="@Url.Action("Edit")/@Html.DisplayFor(modelItem => modelItem.Id)">Редактировать</a>
</div>



