
@{
    ViewBag.Title = "About";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/About.css" rel="stylesheet" />
<div class="row">

    <div class="container"><h2>SoBayed</h2></div>

    <div id="exTab2" class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#About" data-toggle="tab">О нас</a>
            </li>
            <li>
                <a href="#Vacancies" data-toggle="tab">Вакансии</a>
            </li>
            <li>
                <a href="#Contacs" data-toggle="tab">Контакты</a>
            </li>
        </ul>

        <div class="tab-content ">
            <div class="tab-pane active" id="About">
                <h3>О нас</h3>
            </div>
            <div class="tab-pane" id="Vacancies">
                <h3>Вакансии</h3>
                @Html.Partial("VacancyList")
            </div>
            <div class="tab-pane" id="Contacs">
                <div class="col-md-4">
                    <img src="~/Images/Socials.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-8">
                    <h3>Мы в социальных сетях</h3>
                    <div class="row">
                        <a href="https://www.linkedin.com/company/itechart-group" class="soclink-in" target="_blank"></a>
                        <a href="https://www.instagram.com/itechart_official/" class="soclink-inst" target="_blank"></a>
                        <a href="https://www.facebook.com/iTechArt.Group" class="soclink-fb" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>