
@{
    ViewBag.Title = "О компании";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="jumbotron">
    <h1 class="display-3">iTechArt Group</h1>
    <p class="lead">iTechArt Group — это команда Remarkable People, профессионалов в сфере разработки, тестирования, сервисной поддержки программных продуктов, модернизации и интеграции бизнес-приложений.
                    Мы страстно любим то, чем занимаемся, и стремимся к совершенству в решении любых задач!</p>
    <hr class="my-4">
    <p>Наша команда — более 700 высококлассных специалистов.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg ourSite" target="_blank" href="https://www.itechart.com/" role="button">Наш сайт</a>
    </p>
</div>


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#About" data-toggle="tab">
                <i class="glyphicon glyphicon-info-sign glyphicon-tab"></i><span class="tab-text"> О нас</span> 
            </a>
        </li>
        <li>
            <a href="#Vacancies" data-toggle="tab">
                <i class="glyphicon glyphicon-briefcase glyphicon-tab"></i>
                <span class="tab-text"> Вакансии</span>
            </a>
        </li>
        <li>
            <a href="#Relo" data-toggle="tab"><i class="glyphicon glyphicon-transfer glyphicon-tab"></i><span class="tab-text">Релокация в Минск</span></a>
        </li>
        <li>
            <a href="#Advans" data-toggle="tab"><i class="glyphicon glyphicon-plus glyphicon-tab"></i><span class="tab-text"> Наши приемущества</span></a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="About">
            @Html.Partial("AboutUs")
        </div>

        <div class="tab-pane" id="Vacancies">
            @Html.Partial("VacancyList")
        </div>

        <div class="tab-pane text-center" id="Relo">
            @Html.Partial("Relo")
        </div>

        <div class="tab-pane text-center" id="Advans">
            @Html.Partial("Advans")
        </div>
    </div>
</div>
