
<p><strong>Наши офисы:</strong></p>

<ul>
    <li>Минск, Республика Беларусь;</li>
    <li>Нью-Йорк, Нью-Йорк, США;</li>
    <li>Мариетта, Джорджия, США. &nbsp; &nbsp;</li>
</ul>

<p><strong>Технологические направления</strong>: &nbsp;</p>

<ul>
    <li>.NET;</li>
    <li>SharePoint;</li>
    <li>Java;</li>
    <li>PHP;</li>
    <li>Python;</li>
    <li>Ruby;</li>
    <li>Front-end;</li>
    <li>Mobile (iOS, Android);</li>
    <li>Salesforce;</li>
    <li>QA. &nbsp;</li>
</ul>

<p><strong>География проектов: </strong></p>

<p>США, Австралия, Великобритания, Ирландия, Норвегия, Нидерланды, Бельгия, Швейцария, Германия, Россия, Гонконг.</p>

<p><strong>Направления разработки:</strong></p>

<ul>
    <li>финансовая и страховая сфера;</li>
    <li>ритейл;</li>
    <li>здравоохранение;</li>
    <li>образование;</li>
    <li>системы безопасности;</li>
    <li>телекоммуникационная отрасль. &nbsp;</li>
</ul>

<p><strong>Среди наших клиентов:</strong></p>

<ul>
    <li>Gain Capital;</li>
    <li>Oracle;</li>
    <li>Kaspersky Lab;</li>
    <li>ClassPass;</li>
    <li>Blackboard. &nbsp;</li>
</ul>

<p><strong>Мы предлагаем:</strong></p>

<ul>
    <li>хорошо оборудованные просторные рабочие места в бизнес-центре А-класса;</li>
    <li>привлекательный пакет бенефитов;</li>
    <li>использование самых последних технологий, у нас – все самое трендовое и инновационное;</li>
    <li>большое количество разнообразных проектов;</li>
    <li>окружение из умных и талантливых людей с глубокой технической экспертизой. У нас действительно работают Remarkable People. &nbsp;</li>
</ul>

<p><strong>Приглашаем стать частью нашей команды!</strong></p>
