﻿<h3>Здесь мы скромно расскажем, в чем преимущества работы в iTechArt.</h3>
<div class="column-container">
    <div class="column-adv">
        <div class="image-adv">
            <a href="~/Content/img/advans/1.png" data-fancybox data-caption="My caption">
                <img src="~/Content/img/advans/1.png" alt="" />
            </a>
        </div>
        <div class="description">
            Гибкий подход как в менеджменте, так и в реализации новых идей
        </div>
    </div>
    <div class="column-adv">
        <div class="image-adv">
            <a href="~/Content/img/advans/2.png" data-fancybox data-caption="My caption">
                <img src="~/Content/img/advans/2.png" alt="" />
            </a>
        </div>
        <div class="description">
            Remarkable People — специалисты с глубокой технической экспертизой
        </div>
    </div>
    <div class="column-adv">
        <div class="image-adv">
            <img src="~/Content/img/advans/3.png" alt="Responsive image">
        </div>
        <div class="description">
            Наши клиенты любят новые технологии так же страстно, как и мы
        </div>
    </div>
    <div class="column-adv">
        <div class="image-adv">
            <img src="~/Content/img/advans/4.png" alt="Responsive image">
        </div>
        <div class="description">
            Мы учимся сами и делимся знаниями с другими
        </div>
    </div>
    <div class="column-adv">
        <div class="image-adv">
            <img src="~/Content/img/advans/5.png" alt="Responsive image">
        </div>
        <div class="description">
            У нас в компании доброжелательная и позитивная атмосфера
        </div>
    </div>
</div>
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/592YS4lN0ds" frameborder="0" allowfullscreen></iframe>
</div>
<a class="btn btn-primary becomebtn" frame target="_blank" href="http://www.itechart.com/software-development/company/careers/" role="button">Стань частью нашей команды</a>
