<h3>Здесь мы скромно расскажем, в чем преимущества работы в iTechArt.</h3>

<div class="column-container">
    
    <div class="column-row">
        <div class="column">
            <img src="~/Content/img/advans/1.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Гибкий подход как в менеджменте, так и в реализации новых идей</h5>
        </div>
        <div class="column">
            <img src="~/Content/img/advans/2.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Remarkable People — специалисты с глубокой технической экспертизой</h5>
        </div>
        <div class="column">
            <img src="~/Content/img/advans/3.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Наши клиенты любят новые технологии так же страстно, как и мы</h5>
        </div>
        <div class="column">
            <img src="~/Content/img/advans/4.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Мы учимся сами и делимся знаниями с другими</h5>
        </div>
        <div class="column">
     
                   <img src="~/Content/img/advans/5.png" class="image" alt="Responsive image">
            <h5 class="rcorners">У нас в компании доброжелательная и позитивная атмосфера</h5>
        </div>
    </div>
</div>

<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/592YS4lN0ds" frameborder="0" allowfullscreen></iframe>
</div>


<a class="btn btn-primary becomebtn" frame target="_blank" href="http://www.itechart.com/software-development/company/careers/" role="button">Стань частью нашей команды</a>
