
@{
    ViewBag.Title = "Список опросов";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@section Scripts
{
    <script src="~/Content/js/surveylist.js"></script>
}


<div id="root">
     
</div>

