@{
    ViewBag.Title = "Главная";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<div class="jumbotron">
    <h1>Nature</h1>
    <p>Breathtaking Nature Stock Photos for FREE!</p>
    <p><a href="#" class="btn btn-success btn-lg">Click Here »</a></p>
</div>


