
<h3>В нашей компании действует программа поддержки новых сотрудников, которые переезжают из других стран в Беларусь, чтобы начать свою карьеру в iTechArt:</h3>

<div class="column-container">
    <div class="column-relo">
        <div class="image-relo">
            <img src="~/Content/img/relo/1.png" alt="Responsive image">
        </div>
        <div class="description">
            Трансфер сотрудника и его семьи из аэропорта или вокзала до первого места жительства
        </div>

        </div>
    <div class="column-relo">
        <div class="image-relo">
            <img src="~/Content/img/relo/2.png" alt="Responsive image">
        </div>
        <div class="description">
            Помощь в поиске жилья на момент приезда
        </div>
        </div>
    <div class="column-relo">
        <div class="image-relo">
            <img src="~/Content/img/relo/3.png" alt="Responsive image">
        </div>
        
        <div class="description">
            Помощь в решении социально-бытовых вопросов
        </div>
        </div>
    <div class="column-relo">
        <div class="image-relo">
            <img src="~/Content/img/relo/4.png" alt="Responsive image">
        </div>
        <div class="description">
            В первую неделю работы новому сотруднику выплачивается аванс
        </div>
    </div>
</div>
<a class="btn btn-primary becomebtn" target="_blank" href="http://www.itechart.com/software-development/company/careers/" role="button">Стань частью нашей команды</a>
