
<h3>В нашей компании действует программа поддержки новых сотрудников, которые переезжают из других стран в Беларусь, чтобы начать свою карьеру в iTechArt:</h3>

<div class="column-container">
    
    <div class="column-row text-center">
        <div class="column">
            <img src="~/Content/img/relo/1.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Трансфер сотрудника и его семьи из аэропорта или вокзала до первого места жительства</h5>
        </div>
        <div class="column">
            <img src="~/Content/img/relo/2.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Помощь в поиске жилья на момент приезда</h5>
        </div>
        <div class="column">
            <img src="~/Content/img/relo/3.png" class="image" alt="Responsive image">
            <h5 class="rcorners">Помощь в решении социально-бытовых вопросов</h5>
        </div>
        <div class="column">
            <img src="~/Content/img/relo/4.png" class="image" alt="Responsive image">
            <h5 class="rcorners">В первую неделю работы новому сотруднику выплачивается аванс</h5>
        </div>
    </div>
    <a class="btn btn-primary becomebtn" target="_blank" href="http://www.itechart.com/software-development/company/careers/" role="button">Стань частью нашей команды</a>
</div>
