@model IEnumerable<WebApplication1.Models.Vacancies>

<h3>Список вакансий</h3>
<div class="table-responsive">
    <table class="table-borderless table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="@item.Url" target="_blank">@item.Name</a></td>
                    <td>@item.City</td>
                </tr>
            }
        </tbody>
    </table>
</div>

