.edit-form {
    margin:5px;
    padding: 5px;
}

.input-del {
    margin: 15px 0px;
    input {
      width:95%;
      float: left;
    }
    a {
        overflow: hidden;
        span {
            display: block;
            font-size: 20px;
            line-height: normal;
            float: right;
        }
    }
}