@model PagedList.IPagedList<WebApplication1.Models.ApplicationUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@section Scripts
{
    <script src="~/Content/js/spin.min.js"></script> 
    <script src="~/Content/js/userlist.js" ></script> 
}


<div class="panel-heading">
    <div class="row">
        <div class="col col-xs-8">
            <h3 class="panel-title">Список пользователей</h3>
        </div>
    </div>
</div>
<div id="tableContent">

</div>