@model PagedList.IPagedList<WebApplication1.Models.Vacancies>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Список вакансий";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts
{
    <script src="~/Content/js/spin.min.js"></script> 
    <script src="~/Content/js/vacancylist.js"></script> 
}


<div class="row search">
    <form>
        <input id="searchString" class="form-control" placeholder="Поиск">
    </form>
</div>


<br />

<div id="tableContent">

</div>
