@model PagedList.IPagedList<WebApplication1.Models.Vacancies>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Список вакансий";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts
{
    <script src="~/Content/js/spin.min.js"></script> 
    <script src="~/Content/js/react/react.js"></script> 
    <script src="~/Content/js/react/react-dom.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
}
<script type="text/babel" src="~/Content/js/vacancy-list.js" ></script> 

<div class="row search">
    <form>
        <input id="searchString" class="form-control" placeholder="Поиск">
    </form>
</div>


<br />
<div id="content">

</div>
